<%= @subgenre.cont %>

<% for task in @subgenre.questions %>
<ol type="A">
<%= task.ques %>
  	<%= link_to "delete", task, method: :delete, data: { confirm: "You sure?" } %>
<li><%= task.optA %></li>
<li><%= task.optB %></li>
<li><%= task.optC %></li>
<li><%= task.optD %></li>
</ol>
Answer: <%= task.correctopt %><br/>
<% end %>
  	<%= link_to "Add new", new_question_path(:subgenre => @subgenre.id) %>
  	<%= link_to "Start Quiz", quiz_path(:subgenre => @subgenre.id ,:genre => @subgenre.genre_id, :restore => 0) %>
 <% if(State.find_by(user_id:session[:user_id],subgenre_id:@subgenre.id)) %>
  	<%= link_to "Restore Quiz", quiz_path(:subgenre => @subgenre.id ,:genre => @subgenre.genre_id, :restore => 1) %>
<% end %>
